<style>
  content a.internal-link {
    border-color: #8b88e6;
    background-color: #efefff;
  }

  #tooltip-wrapper {
    background: white;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 250px;
    font-size: 0.8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 100ms;
  }

  #tooltip-wrapper:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 75px;
  }
</style>

<div style="opacity: 0; display: none;" id="tooltip-wrapper">
  <div id="tooltip-content"></div>
</div>

<iframe style="display: none; height: 0; width: 0;" id="link-preview-iframe" src=""></iframe>

<script>
  (function() {
    var transitionDurationMs = 100;
    var offsetX = 10;
    var offsetY = 35;

    var iframe = document.getElementById("link-preview-iframe");
    var tooltipWrapper = document.getElementById("tooltip-wrapper");
    var tooltipContent = document.getElementById("tooltip-content");

    var linkHistories = {};

    function hideTooltip() {
      tooltipWrapper.style.opacity = 0;
      setTimeout(function() {
        tooltipContent.innerHTML = "";
        tooltipWrapper.style.display = "none";
      }, transitionDurationMs + 1);
    }

    function showTooltip(event) {
      var elem = event.target;
      var elemProps = elem.getClientRects()[elem.getClientRects().length - 1];
      var top = window.pageYOffset || document.documentElement.scrollTop;

      if (event.target.host === window.location.host) {
        var href = event.target.href;
        var tooltipContentHtml = "";

        if (!linkHistories[href]) {
          iframe.src = href;
          iframe.onload = function() {
            tooltipContentHtml += '<div style="font-weight: bold;">' + iframe.contentWindow.document.querySelector("h1").innerHTML + '</div>';
            tooltipContentHtml += iframe.contentWindow.document.querySelector("content").innerHTML;

            tooltipContent.innerHTML = tooltipContentHtml;
            linkHistories[href] = tooltipContentHtml;

            tooltipWrapper.style.display = "block";
            setTimeout(function() {
              tooltipWrapper.style.opacity = 1;
            }, 1);
          };
        } else {
          tooltipContent.innerHTML = linkHistories[href];
          tooltipWrapper.style.display = "block";
          setTimeout(function() {
            tooltipWrapper.style.opacity = 1;
          }, 1);
        }

        tooltipWrapper.style.left = elemProps.left - (tooltipWrapper.offsetWidth / 2) + (elemProps.width / 2) + "px";

        if ((window.innerHeight - elemProps.top) < tooltipWrapper.offsetHeight) {
          tooltipWrapper.style.top = elemProps.top + top - tooltipWrapper.offsetHeight - offsetY + "px";
        } else if ((window.innerHeight - elemProps.top) > tooltipWrapper.offsetHeight) {
          tooltipWrapper.style.top = elemProps.top + top + offsetY + "px";
        }

        if ((elemProps.left + (elemProps.width / 2)) < (tooltipWrapper.offsetWidth / 2)) {
          tooltipWrapper.style.left = offsetX + "px";
        } else if ((document.body.clientWidth - elemProps.left - (elemProps.width / 2)) < (tooltipWrapper.offsetWidth / 2)) {
          tooltipWrapper.style.left = document.body.clientWidth - tooltipWrapper.offsetWidth - offsetX + "px";
        }
      }
    }

    function setupListeners() {
      document.querySelectorAll("{{ include.wrapperQuerySelector }} a").forEach(function(linkElement) {
        linkElement.addEventListener("mouseleave", hideTooltip);
        linkElement.addEventListener("touchend", hideTooltip);
        linkElement.addEventListener("mouseenter", showTooltip);
      });

      tooltipWrapper.addEventListener("mouseleave", hideTooltip);
      tooltipWrapper.addEventListener("touchend", hideTooltip);
      tooltipWrapper.addEventListener("mouseenter", function() {
        clearTimeout(opacityTimeout);
        clearTimeout(contentTimeout);
      });
    }

    setupListeners();
  })();
</script>
