<div id="header-area" class="header-container">
  <div id="banner" class="banner">
    <a id="transparent" href="{{ site.baseurl }}/">
      <img src="/assets/desert.png" class="header-image">
    </a>
    <br>
  </div>

  <div id="top-stuff" class="header-content">
  <h1 class="site-title">{{ site.title }}</h1>
  <p>meandering<span class="header-subtitle"> <sup>[micah]</sup></span></p>
  <p>maturing<span class="header-subtitle"> <sup>[micah]</sup></span></p>
  <p>melting<span class="header-subtitle"> <sup>[micah]</sup></span></p>


    <div class="header-links">
      <a class="internal-link" href="https://khattamicah.tumblr.com/"><i class="fa-solid fa-solid fa-solar-panel"></i> My Showcase</a>
      <a class="internal-link" href="https://micahchoo.github.io/feed.atom"><i class="fa-solid fa-solid fa-pizza-slice"></i> My Feed</a>
      <a href="/about"><i class="fa-solid fa-head-side-virus"></i> About Me</a>
      <a class="internal-link" href="https://micahchoo.github.io/khattamicah.xyz/digs.html"><i class="fa-solid fa-person-digging"></i> Dig Site</a>
      <a rel="me" href="https://social.coop/@Mixwabitwa"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
      <a class="internal-link" href="https://twitter.com/MicahAlex_"><i class="fa-solid fa-dumpster-fire"></i> Bird App</a>
    </div>
  </div>
</div>
