$color-primary: hsl(190, 10%, 20%);
$color-secondary: hsl(190, 100%, 40%);
$color-text: hsl(165, 5%, 40%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: #f3539b;
$color-box-background: linear-gradient(hsla(166, 55%, 71%, 0.2),hsla(166, 55%, 51%, 0.2));
$border-radius: 4px;
 
 .fa-solid, 
 .fa-brands{
    border-radius: 0.2em;
    --fa-li-margin:0 0.35em 0.35em 0;
	opacity: 0.1;
	line-height: 1.5;
  }  
  
#header-area {
  display: grid;
  grid-template-columns: auto; /* Only one column for both elements */
  grid-template-rows: auto 1fr; /* First row for banner, second row for top-stuff */
}


#top-stuff {
  grid-row: 2; 
  /* Place the top-stuff element in the second row */
  padding-top:1em;
  }
  
.header-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
  background: linear-gradient(hsla(333, 87%, 64%, 0.2), #fff1e6);
  max-height: 100%;
  max-width: 100%;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-image {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  padding: 0;
}

.header-content {
  flex: 1;
  padding: 0 2.5em 2.5em 2.5em;
}
.header-links {
  margin: 30px 0 0 0;  
  color: #8c9dcf;
  overflow-wrap: break-word;
  word-break: break-word;
  }

.header-links a {
  margin-right: 10px;
  text-decoration: none;
}

.header-links a i {
  height: 0.4em;
}


@font-face {
  font-family: 'WixMadeforDisplay';
  src: url('assets/fonts/WixMadeforDisplay/WixMadeforDisplay-Bold.ttf') format('truetype'),
       url('assets/fonts/WixMadeforDisplay/WixMadeforDisplay-ExtraBold.ttf') format('truetype'),
       url('assets/fonts/WixMadeforDisplay/WixMadeforDisplay-Medium.ttf') format('truetype'),
       url('assets/fonts/WixMadeforDisplay/WixMadeforDisplay-Regular.ttf') format('truetype'),
       url('assets/fonts/WixMadeforDisplay/WixMadeforDisplay-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  src: url('assets/fonts/Merriweather/Merriweather-Black.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-BlackItalic.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype'),
       url('assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}
body {
  background: linear-gradient(to right, #fff1e6, #f6f6f7);
  box-sizing: content-box;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden ;
  color: $color-text;
  max-width: 65rem;

  @media (min-width: 720px) {
    font-size: 0.9em;
  }
}


.site-title {
  color: #333333;
  line-height:1.2em
}
.header-subtitle {
  font-family: 'WixMadeforDisplay-Medium', serif;
  font-size: 0.8em;
  color: #999999;
  line-height:1em
}
.superscript {
  font-size: 1em;
  vertical-align: super;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}
.content {
  font-size: 1em;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 0.5em;
}

.page-connection-note {
  font-size: 0.9em;
  object-fit: contain;
  border-radius: 4px;
  background: linear-gradient(hsla(333, 87%, 64%, 0.1), #fff1e6);
  padding: 2em;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.connection-box {
  font-size: 0.9em;
  object-fit: contain;
  border-radius: 4px;
  background: linear-gradient(#fff1e6, hsla(333, 87%, 64%, 0.4));
  padding: 2em;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
}

.tag-box {
  padding: 0 auto;
}
.tag-box p,
.connection-box p {
  font-weight: bold;
  font-size:1em;
  margin-bottom: 10px;
}

.backlink-list {
  margin-top: 10px;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(1fr);
}

.backlink-item {
  margin-bottom: 5px;
}
.backlink-item:hover {
  cursor: pointer;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

}


.no-link-message,
.no-tag-message {
  font-size: 0.9em;
  text-align:center;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1em 0;
  background: $color-border;
}

footer {
  margin: 2em 0;
  font-size: 1em;
  color: mix($color-text, white, 50%);
  padding-top: 1em;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 60vh;
  border-radius: $border-radius;
  object-fit: cover; /* Make the image cover the container while maintaining its aspect ratio */
  width: 100%; /* Make the width of the image fill the container */
  overflow: hidden;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.9em;
  background: $color-box-background;
  border-radius: $border-radius;
}

p, li {
    margin: 0;
    font-family: 'WixMadeforDisplay-Medium', sans-serif;
	font-size:1.2em;
  }


html {
  font-size: 16px; /* Set the base font size */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.6;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.7;
}

.header-link {
  display: none;
  margin-right: 0.5em;
  color: inherit;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline-block;
}


a {
  transition: background 300ms;
  font-family: 'WixMadeforDisplay-Medium', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-secondary;
  &:hover {
    color: black !important;
    background: #b5eeff;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: " ↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}
a#transparent{
  padding: -0.5em;
  text-decoration: none;
  content:"";
  display:inline-block;
  border-bottom: none;
  color: #61c7c6;
  }
a#transparent:after {
	position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "";
  }
a#transparent:hover {
    color: black !important;
  }

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}  
 



*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em 0;
  align: center
}

#notes-entry-container {
  margin-top:35px;
  display: grid;
  grid-gap: 1.7em;
  grid-template-areas:
    content
    side;

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
					"content side";
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}


.tag {
  border: 1.5px solid #f3539b;
  border-radius: $border-radius;
  color: #f6f6f6;
  display: inline-block;
  font-family: 'WixMadeforDisplay-SemiBold', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0.5em;
  padding: 0.3em 0.6em;
  position: relative;
  text-decoration: none;
  background: linear-gradient(hsla(333, 87%, 34%, 0.8), hsla(333, 87%, 44%, 0.8));
}


.tag::before {
  content: "";
  height: 100%;
  left: 1px;
  position: relative;
  top: 0;
  width: 1px;
}

.tag::after {
  border-radius: $border-radius;
  content: "";
  height: 100%;
  position: relative;
  right: 1px;
  top: 0;
  width: 1px;
}

	
.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  font-family: 'WixMadeforDisplay', sans-serif;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.invalid-link {
  color: #888888;
  cursor: help;
  font-family: 'WixMadeforDisplay', sans-serif;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #cfcfcf;
  cursor: help;
}

#header-area {
  display: grid;
  grid-template-columns: auto; /* Only one column for both elements */
  grid-template-rows: auto 1fr; /* First row for banner, second row for top-stuff */
}


#top-stuff {
  grid-row: 2; 
  /* Place the top-stuff element in the second row */
  padding-bottom:1em;
  /* Add styles for the top-stuff element */
}
 @media (min-width: 720px) {
  #header-area {
    grid-template-columns: auto 1fr; /* First column for banner, second column for top-stuff */
    grid-template-rows: auto; /* Only one row for both elements */
  }
  #top-stuff {
    grid-row: auto; /* Reset the grid-row property to its default value */
	
  }
	
}
/*
 @media (max-height: 580px) {
  #header-area {
    grid-template-columns: auto; /* First column for banner, second column for top-stuff *//*
    grid-template-rows: auto 1fr; /* Only one row for both elements *//*
  }
  #top-stuff {
    grid-row: auto; /* Reset the grid-row property to its default value *//*
	padding-bottom:1em;
  }
} 
*/