:root {
  --color-primary: hsl(190, 10%, 20%);
  --color-secondary: hsl(190, 100%, 40%);
  --color-text: hsl(165, 5%, 40%);
  --color-subtext: hsl(0, 0%, 30%);
  --color-border: #f3539b;
  --color-box-background: linear-gradient(hsla(166, 55%, 71%, 0.2), hsla(166, 55%, 51%, 0.2));
  --border-radius: 4px;
}

.fa-solid,
.fa-brands {
  border-radius: 0.2em;
  --fa-li-margin: 0 0.35em 0.35em 0;
  opacity: 0.1;
  line-height: 1.5;
}

.header-container {
  object-fit: scale-down;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
  background: linear-gradient(var(--color-primary) 20%, #fff1e6);
  max-height: 100%;
  max-width: 100%;
}

.banner {
  object-fit: contain;
  padding: 3.5%;
  max-height: 100%;
  max-width: 100%;
}

.header-image {
  object-fit: contain;
  max-height: 45vh;
  max-width: 35vw;
  padding: 0;
}

.header-content {
  padding: 0 2.5em 2.5em 2.5em;
}

.header-subtitle {
  color: #4962ad;
  font-family: 'Balthazar';
  vertical-align: top;
  line-height: 1.2;
}

.header-links {
  color: #8c9dcf;
}

.header-links a {
  margin-right: 10px;
  text-decoration: none;
}

.header-links a i {
  height: 0.85em;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-family: 'Balthazar';
  src: url('/assets/Balthazar.woff2') format('woff2');
}

@font-face {
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-family: 'Syncopate';
  src: url('/assets/Syncopate.woff2') format('woff2');
}

body {
  background: linear-gradient(to right, #fff1e6, #f6f6f7);
  box-sizing: content-box;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: var(--color-text);
  max-width: 65rem;

  @media (min-width: 720px) {
    font-size: 0.9em;
  }
}

time {
  display: block;
  color: var(--color-subtext);
  margin: 0.5em 0 1em;
}

.content {
  font-size: 1em;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 0.5em;
}

.page-connection-note {
  font-size: 0.9em;
  object-fit: contain;
  border-radius: var(--border-radius);
  background: linear-gradient(hsla(333, 87%, 64%, 0.1), #fff1e6);
  padding: 2em;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.connection-box {
  font-size: 0.9em;
  object-fit: contain;
  border-radius: var(--border-radius);
  background: linear-gradient(hsla(333, 87%, 64%, 0.2), #fff1e6);
  mix-blend-mode: overlay;
  padding: 2em;
  box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);
}

.tag-box {
  padding: 1% 1% 1% 0%;
}

.backlink-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(1fr);
}

.backlink-item {
  cursor: pointer;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: #f6f6f6;
  display: inline-block;
  font-family: 'Balthazar', sans-serif;
  font-size: 0.8em;
  margin: 0.5em;
  padding: 0.3em 0.6em;
  position: relative;
  text-decoration: none;
  background: linear-gradient(hsla(333, 87%, 34%, 0.8), hsla(333, 87%, 44%, 0.8));
}

.no-link-message,
.no-tag-message {
  font-size: 0.9em;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1em 0;
  background: var(--color-border);
}

footer {
  margin: 2em 0;
  font-size: 1em;
  color: mix(#{$color-text}, white, 50%);
  padding-top: 1em;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 60vh;
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.9em;
  background: var(--color-box-background);
  border-radius: var(--border-radius);
}

p {
  margin: 0;
  font-family: 'Balthazar', sans-serif;
  font-size: 1.2em;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: var(--color-border);
}

html {
  font-size: 16px;
}

h1 {
  font-family: 'Syncopate', serif;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-size: 2.00em;
  font-weight: bold;
  color: hsla(333, 87%, 64%, 1);
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 1.50em;
  font-weight: bold;
  font-family: 'Syncopate', serif;
  color: hsla(333, 87%, 64%, 1);
}

h3 {
  font-family: 'Syncopate', serif;
  color: hsla(333, 87%, 64%, 1);
  margin-block-start: 1.00em;
  margin-block-end: 1.00em;
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-family: 'Syncopate', serif;
  color: hsla(333, 87%, 64%, 1);
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-size: 1.00em;
  font-weight: bold;
}

h5 {
  font-family: 'Syncopate', serif;
  color: hsla(333, 87%, 64%, 1);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-size: 0.83em;
  font-weight: bold;
}

h6 {
  font-family: 'Syncopate', serif;
  color: hsla(333, 87%, 64%, 1);
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  font-size: 0.67em;
  font-weight: bold;
}

.header-link {
  display: none;
  margin-right: 0.5em;
  color: inherit;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline;
}

a {
  transition: background 300ms;
  font-family: 'Balthazar', sans-serif;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-secondary);
}

a:hover {
  color: black !important;
  background: #b5eeff;
}

a:after {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  content: " ↗";
  color: #aaaaaa;
}

a.internal-link:after,
a.footnote:after,
a.reversefootnote:after {
  content: "";
}

a#transparent {
  padding: -0.5em;
  text-decoration: none;
  content: "";
  display: inline-block;
  border-bottom: none;
  color: #61c7c6;
}

a#transparent:after {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  content: "";
}

a#transparent:hover {
  color: black !important;
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em 0;
  align: center;
}

#notes-entry-container {
  display: grid;
  grid-gap: 1.2em;
  grid-template-areas: "content" "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: #f6f6f6;
  display: inline-block;
  font-family: 'Balthazar', sans-serif;
  font-size: 0.8em;
  margin: 0.5em;
  padding: 0.3em 0.6em;
  position: relative;
  text-decoration: none;
  background: linear-gradient(hsla(333, 87%, 34%, 0.8), hsla(333, 87%, 44%, 0.8));
}

.tag::before {
  content: "";
  height: 100%;
  left: 1px;
  position: relative;
  top: 0;
  width: 1px;
}

.tag::after {
  border-radius: var(--border-radius);
  content: "";
  height: 100%;
  position: relative;
  right: 1px;
  top: 0;
  width: 1px;
}

.backlink-box {
  background: var(--color-box-background);
  padding: 1em;
  border-radius: var(--border-radius);
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  font-family: 'Balthazar', sans-serif;
  border-radius: 4px;
}

.invalid-link {
  color: #888888;
  cursor: help;
  font-family: 'Balthazar', sans-serif;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #cfcfcf;
  cursor: help;
}

#header-area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}

#banner {
  /* Add styles for the banner element */
}

#top-stuff {
  grid-row: 2;
  padding-bottom: 1em;
  /* Add styles for the top-stuff element */
}

@media (min-width: 720px) {
  #header-area {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  #top-stuff {
    grid-row: auto;
  }
}
