---
layout: default
---

<article>
  <!-- <a id="transparent" style="padding:0.2em; border:#f3539b; display:hidden;" href="#graph">Click here   <sup>it's all connected || ഇനീം  കഥകൾ	|  |     आणखी विनोद 	|  |      और पत्र 	|  |       ಅಧಿಕ ವಿಚಾರಗಳು   </sup></a> -->
  <hr>
  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <div id="side">
      <content>
        <div class="connection-box">
          <h4>Connections to this</h4>
          {% if page.backlinks.size > 0 %}
          <div class="backlink-list">
            {% for backlink in page.backlinks %}
            <div class="backlink-item" onclick="location.href='{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}'">
              <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="no-link-message">
            <p>No links to this post</p>
          </div>
          {% endif %}
        </div>
        <div class="tag-box">
          <h4>Tags to this</h4>
          {% if page.tags.size > 0 %}
          <div class="tag-list">
            {% for tag in page.tags %}
            <a class="tag" href="{{ site.url }}/tags/#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          {% else %}
          <div class="no-tag-message">
            <p>No tags to this post</p>
          </div>
          {% endif %}
        </div>
      </content>
    </div>
  </div>
</article>
<hr>
<p></p>
