---
layout: default
---

<article>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <div id="side">
      <content>
        <div class="connection-box">
          <div class="tag-box">
          <p>Tags to this<p>
          {% if page.tags.size > 0 %}
          <div class="tag-list">
            {% for tag in page.tags %}
            <a class="tag" href="{{ site.url }}/tags/#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          {% else %}
          <div class="no-tag-message">
            <p>No tags to this post</p>
          </div>
          {% endif %}
        </div>
          <p>Connections to this<p>
          {% if page.backlinks.size > 0 %}
          <div class="backlink-list">
            {% for backlink in page.backlinks %}
            <div class="backlink-item" onclick="location.href='{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}'">
              <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="no-link-message">
            <p>No links to this post</p>
          </div>
          {% endif %}
          <br>
          {% include notes_graph.html %}
        </div>
      </content>
    </div>
  </div>
</article>
<hr>

