---
layout: default
---

<content>
  {{ content }}

  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
<h4 style="font-size: 0.9em; object-fit:contain; border-radius:4px; background:linear-gradient(hsla(333, 87%, 64%, 0.1), #fff1e6); padding:2em; box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2);" align="center" style="padding: 0.3em 0.3em;"> This is how each page on my website is connected to the others</h4>
{% include notes_graph.html %}
</content>
